.menu 
			{
				background-color: #462042;
				width: 1350px;
				height: 52px;
				opacity: .9;

			}
			.menu ul
			{
				list-style: none;
				
			}
			.menu ul li
			{
			    border-radius: 10px ;
				background-color:  #9d4895;
				width: 200px;
				border: 1px solid #462042;
				height: 50px;
				line-height: 50px;
				text-align: center;
				float: left;
				font-size: 18px;
				

			}
			.menu ul li:hover
			{   border-radius: 10px;
				background-color:#462042;
				color: blue;
			}
			.menu ul li a
			{
				text-decoration: none;
				color: white;
			}
