 .body{
 	height: 900px;
 	width:1350px;
 	background-position: center;
 	background-size: cover;
 	background-image: url(patient.jpg);
}
.main{
	height: 600px;
	width: 600px;
	margin-left: 350px;
	margin-top:150px; 
	float: left;
	background-color: gray;
	border-radius: 9px;
	border :4px solid darkgray;
	opacity: .9;
	color: white;

}