#wave{

		background-image: url(vacancy.jpg);
		height: 400px;
		width: 1350px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.detail
	{
		background-color: white;
		width: 1350px;
		height: 2850px;
		font-style: inherit;
		font-family: sans-serif;
	}
	.detail h1{color: #3D4680; margin-left: 80px;}
	.detail h2{color: #3D4680; margin-left: 80px;}
	.detail ul{list-style: square; margin-left: 80px;}
	.detail p{padding-left: 80px;}
	#list li
	{
		float: left;
		border-left:1px solid black;
		padding-left: 5px;
		padding-right: 5px;
	}
	#list #last
	{
		float: left;
		border-left:1px solid black;
		border-right:1px solid black;
		padding-left: 5px;
		padding-right: 5px;
	}
	#list li a{ text-decoration: none; color: blue; }